
@{
    ViewBag.Title = "Module";
    Layout = "~/Views/Shared/_Module.cshtml";
}

<h2>Module</h2>

<p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quaerat quod voluptate consequuntur ad quasi,
    dolores obcaecati ex aliquid, dolor provident accusamus omnis dolorum ipsam. Voluptatem ipsum expedita, corporis facilis laborum asperiores nostrum!
    Amet porro numquam ratione temporibus quia dolorem sint lorem voluptates quasi mollitia.
</p>
<p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quaerat quod voluptate consequuntur ad quasi,
    dolores obcaecati ex aliquid, dolor provident accusamus omnis dolorum ipsam. Voluptatem ipsum expedita, corporis facilis laborum asperiores nostrum!
    Amet porro numquam ratione temporibus quia dolorem sint lorem voluptates quasi mollitia.
</p>
<p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quaerat quod voluptate consequuntur ad quasi,
    dolores obcaecati ex aliquid, dolor provident accusamus omnis dolorum ipsam. Voluptatem ipsum expedita, corporis facilis laborum asperiores nostrum!
    Amet porro numquam ratione temporibus quia dolorem sint lorem voluptates quasi mollitia.
</p>
<p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quaerat quod voluptate consequuntur ad quasi,
    dolores obcaecati ex aliquid, dolor provident accusamus omnis dolorum ipsam. Voluptatem ipsum expedita, corporis facilis laborum asperiores nostrum!
    Amet porro numquam ratione temporibus quia dolorem sint lorem voluptates quasi mollitia.
</p>